.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 25px;
}
.proceed-link {
  text-decoration: none;
}

.btn-proceed {
  width: 90%;
  height: 50px;
  background-color: #f4a460;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  color: #f0ffff;
  font-size: 20px;
}
